# Email configuratie (SMTP)
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=

# Email adressen
MAIL_TO=Verkoop@zenturabv.com
MAIL_FROM=

# Cloudflare Turnstile (aanmaken op zentura.nl domein)
TURNSTILE_SECRET_KEY=
PUBLIC_TURNSTILE_SITE_KEY=
