# AWS SES (email verzending via Cloudflare Pages Function)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=eu-west-1
AWS_SES_FROM_EMAIL=noreply@zentura.nl

# Email bestemming
MAIL_TO=Verkoop@zenturabv.com

# Cloudflare Turnstile (aanmaken op zentura.nl domein)
TURNSTILE_SECRET_KEY=
PUBLIC_TURNSTILE_SITE_KEY=
